* 
{
    box-sizing: border-box;
}

h1 
{
    margin-bottom: -15px;
}

li 
{
    font-size: 15px;
    margin-left: 20px;
    color: rgb(170, 55, 57);
    list-style-type: circle;
}

ul 
{
    color: rgb(87, 69, 69);
    font-size: 24px;
    line-height: 1.6;
}
