h1 
{
    margin-bottom: -15px;
}
li 
{
    font-size: 15px;
    margin-left: 20px;
    color: var(--auburn);
    list-style-type: circle;
}
ul 
{
    color: var(--liver);
    font-size: 24px;
    margin-left: 10px; 
    line-height: 1.6;
}
