:root {
	--seashell: #FCF4F0;
	--sage: #BABD8D;
	--cocoa-brown: #DA6930;
	--auburn: #AA3739;
	--liver: #574545;
}

* 
{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font-family: "Barlow", sans-serif;
	/* Comment in for testing */
	/* border: 1px solid black; */
}

body 
{
	background-color: var(--seashell);
	height: 100%;
	width: 100%;
}

div 
{
	padding: 20px; 
	align-items: top;
}

h1 
{
	color: var(--liver);
	font-size: 35px;
	padding: 20px;
	margin-left: 10px; 
	font-family: "Playfair Display", serif;
}

nav 
{
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	font-size: 18px;
}

a 
{
	font-family: "Playfair Display", serif;
	font-weight: 700;
	font-size: 20px;
	color: var(--liver);
	padding: 10px;
}

.left-section
{
	display: flex;
  	align-items: center;
	flex-shrink: 0;
}

.top-right-image 
{
	width: 400px;
}

.title
{
	font-family: "Playfair Display", serif;
	padding-bottom: 20px;
	margin-left: 20px; 
	font-size: 25px;
    padding-left: 10px;
}

.paragraph,
.specification-points,
.specification-title
{
	font-family: "Barlow", sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: var(--auburn);
	margin-left: 10px;
	max-width: 800px; 
	word-wrap: break-word;
	list-style-type: circle;
}

.paragraph
{
	padding-left: 20px;
	padding-bottom: 10px;
}

.specification-title
{
	font-size: 19px;
	padding-left: 40px;
	padding-top: 10px;
}
