ul {
	color: rgb(87, 69, 69);
	margin-top: 0; 
    margin-left: 10px; 
	padding: 5px; 
	font-size: 20px; 
    font-family: "Playfair Display", sans-serif;
}
li{
	color: rgb(87, 69, 69);
    list-style-type: circle;
    margin-left: 20px;
    margin-top: 20px;
	margin-bottom: 10px;
    font-weight: bolder; /* Make text bold */
    font-size: 16px;
} 
dl{
    font-weight: normal; 
    font-size: 15px;
    padding: 0.04px;
    line-height: 1;
    margin-top: 2px;
    color: rgb(87, 69, 69);
	
}
ol {
	margin-top: 4px;
	margin-bottom: 3px; 
}
.smaller-text{
    font-size: 14px;
    font-weight: normal;
    color: rgb(170, 55, 57);
    margin-top: 0;
	margin-bottom: 0; 
}
