@import url('https://fonts.googleapis.com/css2?family=Gill+Sans&display=swap');

ul {
	color: white; 
	margin: auto; 
	margin-top: 0; 
	padding: 5px; 
	background-color: cornflowerblue; 
	font-weight: normal; 
	font-size: 20px; 
}
li{
	color: navy;
    list-style-type: circle;
    margin-left: 20px;
    margin-top: 20px;
	margin-bottom: 10px;
    font-weight: bolder; /* Make text bold */
    font-size: 16px;
} 
dl{
    font-weight: normal; 
    font-size: 15px;
    padding: 0.04px;
    line-height: 1;
    margin-top: 2px;
    color: white;
	
}
ol {
	margin-top: 4px;
	margin-bottom: 3px; 
}
.smaller-text{
    font-size: 14px;
    font-weight: normal;
    color: white;
    margin-top: 0;
	margin-bottom: 0; 
}